@import "styles/base";

.filter-buttons {
	width: 70%;
	max-width: 900px;
	height: 200px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.filter-button {
		cursor: pointer;
		background: url(../../../assets/img/filter-btn-bg.svg);
		background-repeat: no-repeat;
		width: 116px;
		height: 134px;
		color: $white;
		font-size: $font-size-lg;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&.active {
			transform: scale(1.25);
		}
		img {
			width: 53px;
			height: 45px;
		}
	}
}