@import "~bootstrap/scss/functions";

$white: #FFFFFF;
$black: #000000;

$light: #FFFFFF;
$primary-300: #FFCC21;
$primary-400: #FF963C;
$primary-500: #EA6C00;
$primary-600: #FC7400;
$secondary-300: hsl(163, 67%, 74%);
$primary-300-400: linear-gradient($primary-300, $primary-400);

$dark-600: #2E2E2E;
$dark-500: #414141;

$gray-400: #777777;

$brandOrange: $primary-400 !default;

$font-size-base:          1rem !default; // 16px
$font-size-xxl:           ($font-size-base * 1.56) !default; // 25px
$font-size-xl:            ($font-size-base * 1.375) !default; // 22px
$font-size-lg:            ($font-size-base * 1.25) !default; // 20px
$font-size-md:            ($font-size-base * 1.12) !default; // 18px
$font-size-sm:            ($font-size-base * .9375) !default; // 15px
$font-size-s:             ($font-size-base * .75) !default;  // 12px
$font-size-xs:            ($font-size-base * .7) !default;  // 11px

$line-height-xl:        	2 !default; // 30px
$line-height-lg:        	1.8 !default; // 27px
$line-height-md:        	1.6 !default; // 24px
$line-height-base:        1.5 !default; // 22px
$line-height-s:        		1.13 !default; // 17px

$global-header-height: 64px;
$global-footer-height: 128px;

/**************************************************/
/*****/ @import "~bootstrap/scss/variables"; /*****/
/*****/ @import "~bootstrap/scss/mixins";    /*****/
/**************************************************/